# Data Cleaning

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_titanic = pd.read_csv("/Users/joseignaciozamora/Desktop/Magister/Analisis de Datos/titanic/train.csv")
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
#Primero reemplazaremos los Strings de Sex y Embarked con valores.

# Para ello eliminamos primero las variables texto:

titanic_train = df_titanic.drop(["PassengerId","Cabin","Name","Ticket","Parch"],axis=1)

titanic_train['Embarked'] = titanic_train['Embarked'].fillna('C')


#Por otra parte, la variable sexo y Embarked las reemplazamos por valores.

def tokenizar(x):

    x['Sex'].replace('female', 0,inplace=True)

    x['Sex'].replace('male', 1,inplace=True)

    x['Embarked'].replace('S', 0,inplace=True)

    x['Embarked'].replace('C', 1,inplace=True)

    x['Embarked'].replace('Q', 2,inplace=True)

    x["Age"].fillna("39", inplace = True)

    x.dropna(inplace=True)

tokenizar(titanic_train)

In [31]:
# Escribimos el Excel
Titanic_proccesed = pd.ExcelWriter("/Users/joseignaciozamora/Desktop/Magister/Analisis de Datos/titanic/TitanicProccesed.xlsx")
  
# Escribimos el Dataset en el Excel
titanic_train.to_excel(Titanic_proccesed)
  
# Lo guardamos
Titanic_proccesed.save()